:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.auth-container {
  width: 300px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

.auth-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.auth-container button {
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
}


/* Page background */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #eef2f3, #ffffff);
}

/* Center container */
.auth-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.auth-container form {
  width: 350px;
  background: #fff;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

/* Title */
.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}

/* Inputs */
.auth-container input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
}

.auth-container input:focus {
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

/* Button */
.auth-container button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  background: #333;
}

/* Bottom text */
.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.auth-footer a:hover {
  text-decoration: underline;
}

.home-container {
  padding: 40px 60px;
}

.home-title {
  text-align: center;
  margin-bottom: 30px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
}

/* CARD */
.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.price {
  color: #16da5a;
  font-weight: bold;
}

.location {
  color: red;
  font-size: 14px;
}

.view-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: black;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.center {
  text-align: center;
  margin-top: 40px;
}


.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 60px;
}

.main-image {
  width: 100%;
  border-radius: 12px;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.info-section .price {
  font-size: 24px;
  font-weight: bold;
}

.desc {
  margin: 15px 0;
  color:#213547
}

.product-video {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

.seller-box {
  margin-top: 20px;
  padding: 15px;
  background: rgb(131, 218, 226);
  border-radius: 10px;
}

.chat-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
}


.details-container {
  display: flex;
  gap: 50px;
  padding: 40px 8%;
  background: #f8fafc;
}

/* LEFT */
.image-section {
  flex: 1;
}

.main-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.thumbnail-row {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}

.thumbnail:hover {
  border: 2px solid #0ea5e9;
  transform: scale(1.05);
}

/* RIGHT */
.info-section {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.title {
  font-size: 26px;
  color: #0f172a;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #16a34a;
  margin: 15px 0;
}

.location {
  color: #64748b;
  margin-bottom: 15px;
}

.desc {
  margin-bottom: 20px;
  line-height: 1.6;
}

.seller-box {
  background: #09d4c7;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chat-btn {
  width: 100%;
  padding: 14px;
  border: none;
  background: #0ea5e9;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.chat-btn:hover {
  background: #0284c7;
}

@media (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }

  .main-image {
    height: 300px;
  }
}

.thumbnail.active {
  border: 2px solid #0ea5e9;
}

.add-product-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.add-product-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #000;
  padding: 25px;
  border-radius: 12px;
}

.add-product-form input,
.add-product-form textarea {
  padding: 10px;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-row button {
  flex: 1;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  cursor: pointer;
}

.delete-btn {
  background: crimson;
}


.chat-container {
  max-width: 700px;
  margin: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background: #000;
  margin-top:20px;
}

.chat-header {
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 60%;
}

.buyer {
  background: #7c3aed;
  color: #fff;
  align-self: flex-end;
}

.seller {
  background: #16da5a;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border: none;
}

.chat-input button {
  padding: 12px 20px;
  border: none;
  background: #7c3aed;
  color: #fff;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #0f172a;
  color: white;
}

.status {
  font-size: 12px;
  color: gray;
}

.chat-img {
  width: 150px;
  border-radius: 8px;
  margin-top: 5px;
}